<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.abanoub.mymal_popularmovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MovieMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".setting.SettingActivity"
            android:parentActivityName=".MovieMainActivity"></activity>
        <activity
            android:name=".movie.details.MovieDetailsActivity"
            android:label="@string/title_activity_details"
            android:parentActivityName=".MovieMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gmail.abanoub.mymal_popularmovies.MovieMainActivity" />
        </activity>

        <provider
            android:name=".data.provider.PopularMovieProvider"
            android:authorities="com.gmail.abanoub.mymal_popularmovies"
            android:exported="false" />
    </application>

</manifest>